<form class="editForm">
  <h4 class="head text-center">{{title}}</h4>
  <div class="form-row">
    <table class="table table-sm table-bordered table-responsive">
      <!--<thead>
        <tr>
          <th></th>
        </tr>
      </thead>-->
      <tbody>
        <tr>
          <th scope="row">Name</th>
          <td>
            <div *ngIf="requestModel?.RequesterName">
              {{requestModel.RequesterName.FirstName}} {{requestModel.RequesterName.FatherName}} {{requestModel.RequesterName.GrandFatherName}} {{requestModel.RequesterName.FamilyName}}
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="form-row">
    <div class="col text-center">
      <button type="button" class="btn btn-info rounded-pill" (click)="goPrevious()">
        Previous
        <span style="margin-left:10px;" class="fa fa-arrow-alt-circle-left"></span>
      </button>
      <button type="button" class="btn btn-info rounded-pill" (click)="goNext()">
        Submit
        <span style="margin-left:10px;" class="fa fa-save"></span>
      </button>
    </div>
  </div>
</form>
